body {
    font-family: 'EB Garamond';
    background-color: #fbfaf6;
    background: url('/static/images/background-pattern.png') repeat;
    background-attachment: fixed;
}

.index-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

.index-form-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.guests-area-1 {
    font-size: 16px;
    margin: 20px;
}

.guests-area-2 {
    font-size: 35px;
    font-weight: bold;
}

.index-input-field {
    border-width: 0 0 1px 0;
    font-size: 13px;
    padding: 2px;
    border-color: #f1ccff;
    outline: 0;
    margin: 5px;
    width: 100%;
}

.index-submit-button {
    background-color: #f1ccff;
    font-size: 11px;
    border-style: none;
    border-radius: 3px;
    width: 100%;
    margin: 10px;
}

.error-messages {
    font-size: 10px;
    color: darkred;
}

.home-picture {
    height: 100vh;
    width: 96vw;
    object-fit: contain;
    overflow: hidden;
}

.home-text {
    min-height: 100vh;
    color: #3D4A3D;
}

.home-text-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parag-text {
    font-size: 14px;
    font-weight: lighter;
    margin: 5px 140px 5px 140px;
    text-align: center;
}

.signature {
    font-weight: bolder;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

.heading {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 5px;
}

#schedule {
    min-height: 100vh;
}

.heading-schedule {
    text-align: center;
    font-size: 25px;
    margin: 12px;
    padding-bottom: 8px;
    color: #3D4A3D;
    font-family: 'Cormorant Garamond', serif;
    border-bottom: 0.5px solid #3D4A3D;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.squares {
    display: flex;
    align-content: flex-start;
    margin-top: 10px;
}

.left-square {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-bottom: 0.5px solid #3D4A3D;
    border-right: 0.5px solid #3D4A3D;
    padding-right: 10px;
    max-width: 50%;
    height: auto;
    margin: 0 5px 10px 10px;
}

.right-square {
    display: flex;
    align-items: flex-start;
    border-bottom: 0.5px solid #3D4A3D;
    border-left: 0.5px solid #3D4A3D;
    padding-left: 10px;
    max-width: 50%;
    height: auto;
    margin: 0 10px 10px 5px;
}

.left-square-image {
    max-width: 90px;
    margin-right: 10px;
}

.right-square-image {
    max-width: 90px;
    height: auto;
}

.info-party {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.info-party-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.heading-party1 {
    font-size: 19px;
    color: #3D4A3D;
    font-weight: 1000;
    margin: 5px;
}

.info-dinner-datetime {
    font-size: 17px; 
    color: #3D4A3D;
    margin: 5px;
    font-weight: bold;
}

.info-dinner-description {
    font-size: 14px; 
    text-align: justify;
    color: #3D4A3D;
}

.info-dinner-description-2 {
    font-size: 12px; 
    text-align: justify;
    color: #3D4A3D;
}

.countdown {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 15px;
}

.countdown-picture {
    max-width: 100vw;
    height: auto;
}

.countdown-picture-2 {
    max-width: 13vw;
    height: auto;
    margin-top: 20px;
}

.datetime p {
    text-align: center;
    background-color: #b7c79d;
    padding: 20px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 18px;
}

.datetime div {
    font-size: 12px;
}

.countdown-heading {
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

#rsvp {
    height: 100vh;
    background-color: rgba(214, 241, 206, 0.5);
    background-blend-mode: multiply;
}

.rsvp-container {
    display: flex;
    justify-content: center;
}

.rsvp-form {
    color: #3D4A3D;
    text-align: center;
}

.rsvp-form-field-name {
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    color: #3D4A3D;
    border-radius: 2px;
    border-width: 0.5px;
    padding: 1px;
}

.rsvp-form-field-message {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin: 3px;
    color: #3D4A3D;
    border-radius: 2px;
    border-width: 0.5px;
    padding: 3px;
    resize: none;
    box-sizing: border-box;
    max-height: 20vh;
}

.rsvp-margin {
    margin: 1.9%;
}

.rsvp-message {
    margin-top: 3%;
    padding: 1px;
    text-align: center;
}

#rsvp-message-1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.rsvp-message.success {
    background-color: #26a944;
    color: #fff;
}

.rsvp-message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.rsvp-button {
    border-radius: 2px;
    border-width: 0.5px;
    color: #fff;
    background-color: #b7c79d;
}

.label {
    font-size: 15px;
}

#tips {
    min-height: 100vh;
}

.tips-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tips-rectangle {
    flex: 1;
    max-width: calc(33.33% - 10px);
    aspect-ratio: 0.7 / 1 ;
    margin: 15px;
    border: 0.5px solid #3D4A3D;
}

.tips-headings {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3D4A3D;
}

.tips-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #3D4A3D;
    font-size: 13px;
    margin-bottom: 5px;
}

.tips-info-heading {
    font-weight: bold;
    font-size: 14px;
}

.tips-info-heading-2 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 3px;
}

.tips-info-heading-3 {
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.tips-info-text {
    margin: 5px;
}

.tips-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tips-image {
    max-width: 8%;
    height: auto;
}

#accommodation {
    min-height: 100vh;
}

.accommodation-price {
    margin-top: 0px;
}

.extra-padding {
    padding: 1px;
}

#gifts {
    min-height: 100vh;
    color: #3D4A3D;
}

.footer {
    margin-bottom: 5%;
    font-size: 14px;
}

.gifts-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5px;
}

.gifts-squares {
    flex: 1;
    max-width: calc(15% - 10px);
    aspect-ratio: 1 / 1;
    margin: 20px;
}

.gifts-img-sqr {
    max-width: 100%;
}

.gifts-heading {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.gifts-description {
    text-align: center;
    font-size: 12px;
}

.qrcode {
    max-width: 25%;
}
  